@{
	ViewData["Title"] = "About";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-section">
	<p><u>About us</u></p>
	<h1>We are here to improve your online shopping experience!</h1>
	<p>Please note that these are not real employees and I retrieved all images from <b>https://unsplash.com/s/photos/portrait</b> </p>
</div>
<h2 style="text-align:center">The Team</h2>
<div class="row">
	<div class="column">
		<div class="card">
			<img src="~/EmployeeImages/employee1.jpg" alt="Janice" style="width:100%">
			<div class="container">
				<h2>Janice Mailbox</h2>
				<p class="title">CEO & Founder</p>
				<p>Fun fact Janice created eating !</p>
				<p>janice.mailbox@theclothingstore.com</p>
				<p><button class="button">Contact</button></p>
			</div>
		</div>
	</div>

	<div class="column">
		<div class="card">
			<img src="~/EmployeeImages/employee2.jpg" alt="Greg" style="width:100%">
			<div class="container">
				<h2>Greg Jefferys</h2>
				<p class="title">Lead Designer</p>
				<p>Greg speaks 20 languages and controls the whole world he works here on the side though</p>
				<p>earth_king@theclothingstore.com</p>
				<p><button class="button">Contact</button></p>
			</div>
		</div>
	</div>

	<div class="column">
		<div class="card">
			<img src="~/EmployeeImages/employee3.jpg" alt="John" style="width:100%">
			<div class="container">
				<h2>John Computer</h2>
				<p class="title">Lead Software Engineer</p>
				<p>John commercialized space travel single handedly and owns everyones favourite park on the moon <b>Moon Land</b></p>
				<p>computer_dude@theclothingstore.com</p>
				<p><button class="button">Contact</button></p>
			</div>
		</div>
	</div>

	<div class="column">
		<div class="card">
			<img src="~/EmployeeImages/employee4.jpg" alt="Ashley" style="width:100%">
			<div class="container">
				<h2>Ashley Winterlands</h2>
				<p class="title">Head of Human Resources</p>
				<p>Ashley is an immortal ancient god in charge of the rise and fall of every empire in existence she also makes really good cookies</p>
				<p>before_all@theclothingstore.com</p>
				<p><button class="button">Contact</button></p>
			</div>
		</div>
	</div>
</div>
