@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
	<!--The index page-->
	<h6>Welcome to <b>The Clothing Store</b></h6>
	<!-- Image Slider -->
	<hr />
	<div class="container">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="images/grocery-shopping.jpg" alt="A large selection for every type of event that there is !" style="width:100%;height:400px;" />
					<div class="carousel-caption">
						<h3>Groceries</h3>
						<p></p>
					</div>
				</div>

				<div class="item">
					<img src="images/group-shopping.jpg" alt="We have great deals ALL YEAR ROUND !" style="width:100%;height:400px;" />
					<div class="carousel-caption">
						<h3>Group Shopping</h3>
						<p>A group of friends shopping</p>
					</div>
				</div>

				<div class="item">
					<img src="images/shopping-bag.jpg" alt="Can't find what you're looking for then look in one of our physical stores for other options" style="width:100%;height:400px" />
					<div class="carousel-caption">
						<h3>Shopping</h3>
						<p>We have a wide variety of options for all of your clothing needs</p>
					</div>
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<!-- Image Slider End -->
	<hr />
	<div class="container">
		<div class="row">

			<div class="col-lg-4">
				<img class="img-circle" src="shoes/shoes.jpg" alt="thumb" width="140" height="140" />
				<h2>Shoewear</h2>
				<p>The earliest known shoes are sagebrush bark sandals dating from approximately 7000 or 8000 BC, found in the Fort Rock Cave in the US state of Oregon in 1938. The world's oldest leather shoe, made from a single piece of cowhide laced with a leather cord along seams at the front and back, was found in the Areni-1 cave complex in Armenia in 2008 and is believed to date to 3500 BC.</p>
				<p><span> <a class="btn btn-default" href="#" role="button">View More &raquo;</a> </span></p>
			</div>

			<div class="col-lg-4">
				<img class="img-circle" src="clothing/shirts.jpg" alt="thumb" width="140" height="140" />
				<h2>Clothing</h2>
				<p>Clothing is an item or fabric, usually sewn together to cover part of the human body. Humans are the only animals which wear clothing, and all people do wear suitable clothing.. The torso (body) can be covered by shirts, arms by sleeves, legs by pants or skirts, hands by gloves, feet by footwear, and head by headgear or masks.In cold climates, people also wear heavy, thick coats</p>
				<p> <a class="btn btn-default" href="#" role="button">View More &raquo;</a></p>
			</div>

			<div class="col-lg-4">
				<img class="img-circle" src="clothing/suits" alt="thumb" width="140" height="140" />
				<h2>Groceries</h2>
				<p>A suit is a set of clothes comprising a suit jacket, or coat, and trousers. When of identical textile, and worn with a collared dress shirt, necktie, and dress shoes, it was traditionally considered informal wear in Western dress codes. The lounge suit originated in 19th-century Britain as more casual wear alternative for sportswear and British country clothing. After replacing the black frock coat in the early 20th century as regular daywear, a sober one-coloured suit became known as a lounge suit. A darker, understated lounge suit for professional occasions became known as a business suit.</p>
				<p> <a class="btn btn-default" href="#" role="button">View More &raquo;</a></p>
			</div>
		</div>
	</div>
</div>
