@{
	ViewData["Title"] = "Mens_Tops";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-products">
	<!--Header-->
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-md-8 col-lg-6">
				<div class="header">
					<h3>Mens Tops</h3>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="card col-md-6 col-lg-4 col-xl-3">
				<img src="~/images/mens_shirts1.jpg" alt="Checkered Shirt" style="width:100%" />
				<h1 class="product-title">Checkered Shirt</h1>
				<p class="product-price">$12.99</p>
				<p></p>
				<p><button>Add to Cart</button></p>
				<br />
			</div>

			<div class="card col-md-6 col-lg-4 col-xl-3">
				<img src="~/images/mens_shirts2.jpg" alt="White T-Shirt" style="width:100%" />
				<h1 class="product-title">T-Shirt</h1>
				<p class="product-price">$9.99</p>
				<p></p>
				<p><button>Add to Cart</button></p>
				<br />
			</div>

			<div class="card col-md-6 col-lg-4 col-xl-3">
				<img src="~/images/mens_shirts3.jpg" alt="Blue Collared Shirt" style="width:100%" />
				<h1 class="product-title">Collared Shirt</h1>
				<p class="product-price">$19.99</p>
				<p></p>
				<p><button>Add to Cart</button></p>
				<br />
			</div>

			<div class="card col-md-6 col-lg-4 col-xl-3">
				<img src="~/images/mens_shirts4.jpg" alt="Brown Shirt" style="width:100%" />
				<h1 class="product-title">Brown Shirt</h1>
				<p class="product-price">$9.99</p>
				<p></p>
				<p><button>Add to Cart</button></p>
				<br />
			</div>

			<div class="card col-md-6 col-lg-4 col-xl-3">
				<img src="~/images/mens_shirts5.jpg" alt="Red T-Shirt" style="width:100%" />
				<h1 class="product-title">T-Shirt</h1>
				<p class="product-price">$9.99</p>
				<p></p>
				<p><button>Add to Cart</button></p>
				<br />
			</div>
		</div>
	</div>
</section>