
@{
	ViewData["Title"] = "Mens_Tops";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--A simple div container that shows the mens tops-->
<div class="grid grid--uniform small--grid--flush">
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_shirts1.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_shirts2.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_shirts3.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_shirts4.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_shirts5.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
</div>

