
@{
	ViewData["Title"] = "Mens Bottoms";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--A simple div container that shows the mens bottoms-->
<div class="grid grid--uniform small--grid--flush">
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_pants1.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_pants2.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_pants3.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_pants4.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_pants5.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_pants6.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_shorts1.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_shorts2.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_shorts3.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
</div>
