
@{
	ViewData["Title"] = "Mens Shoes";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--A simple div container that shows the mens shoes-->
<div class="grid grid--uniform small--grid--flush">
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_shoes1.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_shoes2.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_shoes3.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_shoes4.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_shoes5.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
</div>
