
@{
    ViewData["Title"] = "Mens Suits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--A simple div container that shows the suits-->
<div class="grid grid--uniform small--grid--flush">
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_suits1.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_suits2.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_suits3.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_suits4.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/mens_suits5.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
</div>