
@{
	ViewData["Title"] = "Womens Skirts and Dresses";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--A simple div container that shows the dresses-->
<div class="grid grid--uniform small--grid--flush">
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/womens_dresses1.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/womens_dresses2.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/womens_dresses3.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/womens_dresses4.jpeg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/womens_dresses5.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/womens_dresses6.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/womens_skirts1.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/womens_skirts2.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/womens_skirts3.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
	<div class="grid__item grid-product small--one-half medium-up--one-third grid-product">
		<div class="grid-product__content">
			<a href="~/images/womens_skirts4.jpg" class="grid-product__link" data-bss-pl="active"></a>
		</div>
	</div>
</div>
