
@{
	ViewData["Title"] = "Womens_SkirtsAndDresses";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-products">
	<!--Header-->
	<div class="container">
		<div class="row justify-content-center text-center">
			<div class="col-md-8 col-lg-6">
				<div class="header">
					<h3>Womens Skirts And Dresses</h3>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="card col-md-6 col-lg-4 col-xl-3">
				<img src="~/images/womens_dresses1.jpg" alt="Red Dress" style="width:100%" />
				<span class="discount">On Sale!</span>
				<h1 class="product-title">Red Dress</h1>
				<p class="product-old-price">$199.99</p>
				<p class="product-price">$149.99</p>
				<p></p>
				<p><input type="submit" value="Add to Cart" /></p>
				<br />
			</div>

			<div class="card col-md-6 col-lg-4 col-xl-3">
				<img src="~/images/womens_dresses2.jpg" alt="Leopard Print Dress" style="width:100%" />
				<h1 class="product-title">Leopard Dress</h1>
				<p class="product-price">$189.99</p>
				<p></p>
				<p><input type="submit" value="Add to Cart" /></p>
				<br />
			</div>

			<div class="card col-md-6 col-lg-4 col-xl-3">
				<img src="~/images/womens_dresses3.jpg" alt="Blue Dress" style="width:100%" />
				<h1 class="product-title">Blue Dress</h1>
				<p class="product-price">$199.99</p>
				<p></p>
				<p><input type="submit" value="Add to Cart" /></p>
				<br />
			</div>

			<div class="card col-md-6 col-lg-4 col-xl-3">
				<img src="~/images/womens_dresses4.jpeg" alt="Maroon Dress" style="width:100%" />
				<span class="discount">On Sale!</span>
				<h1 class="product-title">Maroon Dress</h1>
				<p class="product-old-price">$189.99</p>
				<p class="product-price">$149.99</p>
				<p></p>
				<p><button>Add to Cart</button></p>
				<br />
			</div>

			<div class="card col-md-6 col-lg-4 col-xl-3">
				<img src="~/images/womens_dresses5.jpg" alt="Pink Dress" style="width:100%" />
				<h1 class="product-title">Pink Dress</h1>
				<p class="product-price">$129.99</p>
				<p></p>
				<p><button>Add to Cart</button></p>
				<br />
			</div>

			<div class="card col-md-6 col-lg-4 col-xl-3">
				<img src="~/images/womens_dresses6.jpg" alt="Black Dress" style="width:100%" />
				<h1 class="product-title">Black Dress</h1>
				<p class="product-price">$129.99</p>
				<p></p>
				<p><button>Add to Cart</button></p>
				<br />
			</div>

			<div class="card col-md-6 col-lg-4 col-xl-3">
				<img src="~/images/womens_skirts1.jpg" alt="Floral Skirt" style="width:100%" />
				<h1 class="product-title">Floral Skirt</h1>
				<p class="product-price">$89.99</p>
				<p></p>
				<p><button>Add to Cart</button></p>
				<br />
			</div>

			<div class="card col-md-6 col-lg-4 col-xl-3">
				<img src="~/images/womens_skirts2.jpg" alt="Checkered Skirt" style="width:100%" />
				<span class="discount">On Sale!</span>
				<h1 class="product-title">Checkered Skirt</h1>
				<p class="product-old-price">$89.99</p>
				<p class="product-price">$49.99</p>
				<p></p>
				<p><button>Add to Cart</button></p>
				<br />
			</div>

			<div class="card col-md-6 col-lg-4 col-xl-3">
				<img src="~/images/womens_skirts3.jpg" alt="Gold Skirt" style="width:100%" />
				<span class="discount">On Sale!</span>
				<h1 class="product-title">Gold Skirt</h1>
				<p class="product-price">$99.99</p>
				<p></p>
				<p><button>Add to Cart</button></p>
				<br />
			</div>

			<div class="card col-md-6 col-lg-4 col-xl-3">
				<img src="~/images/womens_skirts4.jpg" alt="Brown Skirt" style="width:100%" />
				<h1 class="product-title">Brown Skirt</h1>
				<p class="product-price">$39.99</p>
				<p></p>
				<p><button>Add to Cart</button></p>
				<br />
			</div>
		</div>
	</div>
</section>