<!DOCTYPE html>
<html>
<head>
	<title>The Clothing Store</title>
	<link rel="icon" href="~/icons/icon.jpg" type="image/x-icon" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link href="~/css/site.css" rel="stylesheet" />
	<!--<link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js">
	<script src="~/js/site.js" asp-append-version="true"></script>-->


</head>
<body>
	<!--The navbar for the site-->
	<nav class="navbar">
		<div class="navbar-header">
			<a class="navbar-brand" href="~/Home/Index"><span><img src="~/icons/icon.jpg" height="30" /> </span>The Clothing Store</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a class="nav-link" href="~/Home/Index">Home</a> </li>
			<li class="dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Clothing Choices<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li class="dropdown-header"><a href="#">Men</a></li>
					<li role="separator" class="dropdown-divider"></li>
					<li class="dropdown-item"><a href="~/Home/Mens_Tops">Tops</a></li>
					<li class="dropdown-item"><a href="~/Home/Mens_Bottoms">Bottoms</a></li>
					<li class="dropdown-item"><a href="~/Home/Mens_Suits">Suits</a></li>
					<li class="dropdown-item"><a href="~/Home/Mens_Shoes">Shoes</a></li>
					<li role="separator" class="dropdown-divider"></li>
					<li class="dropdown-header"><a href="#">Women</a></li>
					<li role="separator" class="dropdown-divider"></li>
					<li class="dropdown-item"><a href="~/Home/Womens_Bottoms">Tops</a></li>
					<li class="dropdown-item"><a href="~/Home/Womens_SkirtsAndDresses">Skirts & Dresses</a></li>
					<li class="dropdown-item"><a href="~/Home/Womens_Tops">Pants & leggings</a></li>
					<li class="dropdown-item"><a href="~/Home/Womens_Shoes">Shoes</a></li>
				</ul>
			</li>
			<li><a class="nav-link" href="~/Account/Register">Registration</a> </li>
			<li><a class="nav-link" href="~/Home/About">About</a> </li>
			<li><a class="nav-link" href="~/Home/Checkout">Checkout</a> </li>
			<li><a class="nav-link" href="~/Home/Privacy">Privacy</a> </li>
		</ul>
	</nav>
	<div class="container">
		<main role="main">
			@RenderBody()
		</main>
	</div>

	<!--The footer for the website-->
	<footer class="footer-pos">
		<p> &copy;@DateTime.Now.Year - The Clothing Store &middot; <a href="~/Home/Index">Home</a>&middot;<a href="~/Home/About">About</a>&middot;<a href="~/Home/Clothing">Clothing</a> &middot;<a href="~/Account/Register">Register</a></p>
	</footer>
	
</body>
</html>
